<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='logincss.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
    </style>
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-in">
        <!-- Signup Form -->
        <form action="http://127.0.0.1:5000/login" method="POST" id="signup-form">
            <h2>Signup</h2>
            <input type="text" name="name" placeholder="Full Name" required />
            <input type="text" name="username" placeholder="Username (e.g., user@domain.com)" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="text" name="address" placeholder="Address" required />
            <label for="profession">Choose your profession</label>
            <br/>
            <select id="profession" name="profession" required>
                <option value="Doctor">Doctor</option>
                <option value="Pharma">Pharma</option>
                <option value="Engineer">Engineer</option>
                <option value="Teacher">Teacher</option>
            </select>
            <br/>
            <button type="submit">Signup</button>
        </form>
    </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of the site's features</p>
                <button class="hidden" id="registerButton">Sign in</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('registerButton').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default form submission
        window.location.href = 'http://127.0.0.1:5000/login'; // Redirect to the signup page
    });

    document.getElementById('signup-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission
        window.location.href = 'http://127.0.0.1:5000/login'; // Redirect to the doctor dashboard page
    });
</script>
</script>
</body>
</html>
